# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
.expo/
.expo-shared/
out/

# Turborepo
.turbo/

# Testing
coverage/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editors / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo

# Expo / React Native
.metro-health-check*
*.orig.*
web-build/
